/* custom css for footer content */
.footer-description h5{
font-size: 14px;
}
.footer-description p{
    font-size: 14px;  
    margin-top: 6px;
    text-align: left;
}
.footer-description img{
    width: 40px;
    height: 30px;
    border-radius: 5px;
}

/* Custom CSS for the heading */
.custom-heading {
    font-size: 18px; /* Increase the font size as needed */
    font-weight: bold; /* Make the text bold */
  }

  /* Custom css for the icon */
  .custom-icon{
    font-size: 18px; /* Increase the font size as needed */
    font-weight: bold; /* Make the text bold */
    color: #55c946;
  }
  
.footer-description ul li a{
    font-size: 12px;
    
}

/* Custom CSS for list items */
.custom-list {
    list-style: none;
    color: white;
  }
  
  /* Style for list item links */
  .custom-list li{
    margin-top: 15px;
  }
  .custom-list li a {
    text-decoration: none; /* Remove underlines from anchor tags */
    color: white;
  }
/* Custom CSS for dark background anchor links */
.dark-link {
    color: white; /* Text color */
    padding: 5px 10px; /* Adjust padding as needed */
    display: block; /* Make anchor tags full-width */
    margin-bottom: 5px; /* Add space between links */
    text-decoration: none; /* Remove underlines from anchor tags */
    border-radius: 4px; /* Add rounded corners */
    border-bottom: 2px solid transparent; /* Add a transparent underline */
  }
  
  .dark-link:hover {
    background-color: #55c946; /* Change background color on hover */
    color: white; /* Text color on hover */
  }
  .dark-link.active {
    color: white; /* Text color for the active link, matching the background color */
    border-width: 10%; /* Adjust the border width according to text size */
    border-bottom-style: solid; /* Set the border style to solid */
    border-bottom-color: #55c946; /* Add an underline color that matches the background color */
  }

  /* Custom CSS for container and columns */
.custom-container {
    background-color: #55c946; /* Background color for the container */
    color: white; /* Text color for the container */
    padding: 2px 8%; /* Add padding to provide spacing around the content */
  }
  
  .custom-col {
    color: white; /* Text color for the columns */
    padding: 3px; /* Add padding to provide spacing within the columns */
    margin: 7px 0; /* Add margin to create spacing between columns */
  }
  /* Custom CSS for copyright text */
.copyright {
    font-size: 14px; /* Adjust the font size as needed */
    text-align: left; /* Center-align the text */
    color: white; /* Text color */
  }
/* Custom CSS for contact information */
.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px; /* Adjust the gap between icon and text */
    font-size: 14px; /* Adjust icon size */
  }
 /* Custom CSS for social media icons */
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px; /* Adjust the gap between icons */
  }
  
  .social-icons a {
    text-decoration: none; /* Remove underlines from the links */
  }

  
.icon-container {
    border-radius: 50%; /* Apply round border to the icon container */
    border: 2px solid white;
  }
  
  .icon-container i {
    padding: 4px 7px;
    font-size: 16px; /* Adjust icon size */
    color: white; /* Icon color */
  }
  
  /* Hover effect to change the background color */
  .icon-container:hover {
    background-color: #4ddd7f; /* Change background color on hover */
  }
  
  /* Change text color on hover */
  .icon-container:hover i {
    color: white;
  }
  
  
  
  
  
  
    